*{
    font-family: fantasy;
}

h1{
padding: 6rem;
font-weight: bold;
background-image: url(tavern_art.jpg);
background-repeat: no-repeat;
background-position:bottom;
background-size:90vw;
color: rgb(253, 253, 253);
text-transform:uppercase;
}
body{
    background-color: rgb(196, 176, 110);
}
.jumbotron{
    padding: 1rem;
}
h2{
    font-weight: bolder;
    
}